  <div class="col-sm-4 col-md-4 col-md-4">
    <div class="thumbnail">
      {{#link-to 'product' product.id}}
      <img src={{product.img}} alt={{product.name}}>
      {{/link-to}}
      <div class="caption">
        <p>{{product.name}}</p>
        <p>Price: ${{product.price}}</p>
        {{update-product product=product updateProduct="updateProduct"}}
        <br>
        <button class="btn btn-danger" {{action 'delete' product}}>Delete</button>
      </div>
    </div>
  </div>
