<div class="row">
  <div class="col-md-8">
    <h1 class="subhead-text">Your cart</h1>
  </div>
  <div class="col-md-4">
    <h1 class="subhead-text">Price</h1>
  </div>
</div>

<hr>

{{#each shoppingCart.items as |item|}}
<div class="row">
  <div class="col-md-4">
    <img id="shopping-cart-img" src= "{{item.img}}" alt="{{item.name}}">
  </div>
  <div class="col-md-4">
     {{item.name}}
  </div>
  <div class="col-md-4">
    <p>${{item.price}}</p>
  </div>
</div>
{{/each}}




<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <hr>
    <h3 class="subhead-text">Your total</h3>
    <p>${{totalCost}}</p>
  </div>
</div>
