{{#if addNewProduct}}
<h1>Add a new product</h1>
<div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input class="form-control" value=name id="name"}}
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      {{input class="form-control" value=price id="price"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{input class="form-control" value=description id="description"}}
    </div>

    <div class="form-group">
      <label for="img">Image</label>
      {{input class="form-control" value=img id="img"}}
    </div>

    <button class="btn btn-success" {{action 'saveProduct'}}>Save</button>
  </form>
</div>
{{else}}
  <button class="btn btn-success" {{action 'productFormShow'}}>Add a new product</button>
{{/if}}
