<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src={{product.img}} alt={{product.name}}>
      <div class="caption">
        <p>{{product.name}}</p>
        <p>Price: ${{product.price}}</p>
        <button class="btn btn-default" {{action 'addToCart' product}}>Add to Cart</button>
      </div>
    </div>
  </div>
</div>
