<div class="row">
  <div class=".col-xs-4">
    <img src={{product.img}} alt={{product.name}}>
    <br>
    {{product.name}}
    Price: ${{product.price}}
    <button class="btn btn-default"{{action 'addToCart' product}}>Add to Cart</button>
  </div>
</div>
