

<div class="product-tile">
  <img src={{model.img}} alt={{model.name}}>

  <h1 class="header-text">{{model.name}}</h1>

  <p>Price: ${{model.price}}</p>
  <p>
    Description: {{model.description}}
  </p>
</div>

{{new-review save="save" product=model}}

{{#if model.reviews}}
<h1 class="subhead-text">Customer Reviews</h1>
{{/if}}

{{#each model.reviews as |review|}}
    <hr>
    {{review-tile review=review}}
    <h1>{{rating review}}</h1>
    <hr>
{{/each}}
